/*  your css code here. If applicable */
.egg{
	background-color:lightblue;
	border:2px solid black;
	width:200px;
	height:200px;
	position:relative;
	top:25vh;
	left:25%;
}
.pc{
	width: 190px;
	height: 170px;
	color: purple; 
	display: flex;
    justify-content: center;
    align-items: center;
	
}